/* here we will style the timer.html page*/

body {
    font-family: sans-serif;
    text-align: center;
}

#toggleDiv {
    display: none; /* intialy hide the fiv */
    margin-top: 10px; /* Add some spacing */
}

#myDiv {
    width: 300px; /* set a fixed width */
    margin: 20px auto; /* Center the div */
    padding: 20px; /* Add some padding inside the div */
    border-radius: 5px; /* Round the Corners*/
    background-color: #f9f9f9; /* Light background color */
}